.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8D7E3;
}
.navbar a{
    text-decoration: none;
    color:black;
    gap:10px;
} 
.navbar a:hover{
    text-decoration: underline purple;
    color:purple;
}
html{
    scroll-behavior:smooth;
}
body{
    background-color: #FFF5F7;
}
#about{
    display:flex;
    justify-content: center;
    align-items: center;
     padding:40px 0;
}
.hcontent{
    width:50%;
}
.hcontent h3{
    color:rgb(244, 77, 105);
}
.hcontent p{
    max-width: 500px;
    line-height:1.7;
}
.himage img{
    margin-top: 15px;
    border-radius: 6px;
    height:350px;
}
button{
    background-color: #E75480;
    Border: 1px solid #E75480;
    margin-top: 40px;
    margin-right: 100px;
    border-radius:10px;
    color:white;
    padding:20px;
    height:60px;
    width:150px;
    transition:0.3s ease;
}
button:hover{
    background-color: #D6336C;
    transform: translateX(5px);
    box-shadow: 0 8px 20px rgba(214, 51, 108, 0.3);
}
#Skills{
    padding:60px 0;
}
#projects{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    padding:60px 0;
}
.heading{
    font-size:30px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.heading p{
    font-size: 20px;
}
.card{
    border:2px pink solid;
    justify-content: center;
    text-align: center;
    margin-top: 7px;
    box-shadow:0 4px 10px rgba(250, 125, 175, 0.916);
    height:270px;
    width:200px;
    padding:15px;
}
.card:hover{
    transform: scale(1.1);
}
#contact{
    display: flex;
    justify-content: center;
    text-align: center;
    padding:40px 0;
}
.cntct{
    border:2px pink solid;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
     height:auto;
    width:200px;
    padding:15px;
    margin-right:100px;
}
.cntct a{
    text-decoration: none;
    color:black;
}
.cntct:hover{
     transform: scale(1.1);
}
.foot{
    text-align: center;
}
@media (max-width:777px){
.nav{
    justify-content: center;
    gap:9px;
    flex-wrap: wrap;
}
#about{
    flex-direction:column;
    text-align: center;
    gap:30px;
}
.hcontent{
    width:100%;
}
.himage img{
     width: 250px;
    height: auto;
}
#Skills{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
#projects{
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.card{
    width:90%;
}
.contact{
    flex-direction:column;
    align-items: center;
    gap:20px;
}
.cntct{
    width:90%;
}
.foot{
    text-align: center;
}
.hcontent h2{
    font-size:2rem;
}
.heading h2{
    font-size:1.8rem;
}
.img{
    max-width: 100%;
    height:auto;
}
}